@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 20%;
    position: absolute;
    top: 3%;
    left: 2vw;
  }

  h1 {
    // @include headings;
    font-family: Headings;
    font-size: 5rem;
    text-transform: uppercase;
    color: $blue;

    .one {
      color: $green;
    }

    .two {
      color: $red;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    button {
      @include main-button;    
    }
  }
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  h6{
    font-size: 2rem;
    margin-bottom: 2vh;
    @include textFont;
    color: $red;
  }
  input{
    border: none;
    border-radius: .5rem;
    padding: 1% 2%;
    margin-bottom: 2vh;
  }
  button{
    @include main-button;
  }
}

@keyframes slide {
  100%{
    left: 35vw;
  }
}
@keyframes slidein {
  100%{
    left: 60vw;
  }
}
@keyframes slideright{
  100%{
    right: 45vw;
}
}
@keyframes pulsate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.score{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .anim_one{
    animation: slide .5s forwards;
    position: absolute;
    top: 27vh;
    left: -100vw
  }
  .anim_two{
    position: absolute;
    top: 42vh;
    right: -100vw;
    animation: slideright .5s forwards;
    color: $red;
    animation-delay: .5s;
  }
  .anim_three{
    color: $yellow;
    animation: slidein .5 forwards;
    animation-delay: 1s;
    position: absolute;
    top: 58vh;
    left: -100vw;
    span{
      animation: pulsate 1.5s infinite;
      color: $red;
      font-size: 5rem;
      animation-delay: 2.5s;
    }
  }
  button{
    @include main-button;
    position: absolute;
    top: 10vh;
  }
}