.card {
    position: relative;
    cursor: pointer;
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    background-color: #fff;
    }
    
    .card .front{
        background-color: #fff;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        border-radius: 5px;
        position: absolute;
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        max-height: 20vh;
        margin: auto;
    }
    
    .card .front.matched{
        background-color:  #4FA637;
    }
    
    .flipped .front {
        transform: rotateY(0deg);
        transition-delay: 0.2s;
    }
    
    .card .back{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        /* border: 2px solid white; */
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
        width: 20vh;
        height: 20vh;
        border-radius: 10px;    
    }
    
    .flipped .back {
        transform: rotateY(90deg);
        transition-delay: 0s;
    }